<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PeoplesNews</title>
  	<style> .glyphicon-thumbs-up { cursor:pointer } </style>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>
<body ng-app"flapperNews">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1>Peoples News</h1>
			<a href="/">Index</a> | <a href="#/home">Home</a> | <a href="#/posts">Posts</a>
			<div ui-view="ui-view" class="ng-scope"></div>	
		</div>
	</div>

</body>
</html>
